<head>
  <meta charset="utf-8" />
  <title>Season 3</title>
  <meta
    name="description"
    content="Play DragonBound now, a Free Multiplayer Online HTML5 Game. Play with or meet new friends anywhere, no downloads. Collect items, new game modes, and challenges."
  />
  <meta
    name="keywords"
    content="Play, DragonBound, now, Free, Multiplayer, Online, HTML5, Game, friends, anywhere, no, downloads, items, modes, challenges, 2d shooter, advanced, vs, ai, computer, players, bbtank, ddtank, browser, custom, avatars, ui, theme, interface, gunbound, cash, gold, fast, gp, exp, f2p, free to play, free offers, free currency, aimbot, game, dragonboune.net, games, NO cheaters, NO download, NO hackers, NO installation, private source, public game, shooter, turn based, unique, worm, softnyx, worms, zero exploits, america, peru, gitzwc, gitz, force, history, zero"
  />
  <meta property="og:type" content="game" />
  <meta
    property="og:title"
    content="DragonBound - Next generation HTML5 online massive multi-player game!"
  />
  <meta property="og:url" content="http://localhost:3000" />
  <meta
    property="og:description"
    content="Play with or against your friends from your browser anywhere for free. Shop for items to make you stronger. Unlock hidden characters, new game modes, and challenges. Meet new friends. Single player option too."
  />
  <meta
    property="og:image"
    content="http://localhost:3000/static/images/icon2_200x200.png"
  />
  <meta property="og:site_name" content="localhost" />
  <meta property="fb:app_id" content="154795011315451" />
  <meta name="theme-color" content="#000000" />
  <meta name="referrer" content="same-origin" />
  <link rel="manifest" href="/static/app.json?3" />
  <script type="text/javascript" src="/static/js/transition.js"></script>
  <script type="text/javascript" src="/static/js/1089276.js"></script>
  <link
    rel="stylesheet"
    id="DragonStyle"
    href="/static/css/DragonBound.min.css?14401"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
  />
  <meta
    http-equiv="Content-Security-Policy"
    content="style-src 'self' 'unsafe-inline'; script-src 'unsafe-eval' https://connect.facebook.net https://connect.facebook.com https://twemoji.maxcdn.com *.google-analytics.com https://pagead2.googlesyndication.com"
  />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" href="/static/images/icon.png" />
  <link rel="apple-touch-startup-image" href="/static/images/splash2.png" />
  <meta itemprop="name" content="DragonBound" />
  <meta
    itemprop="description"
    content="Play with or against your friends from your browser anywhere for free. Shop for items to make you stronger. Unlock hidden characters, new game modes, and challenges. Meet new friends. Single player option too."
  />
  <meta
    itemprop="image"
    content="http://dragonbound.net/static/images/icon2_200x200.png"
  />
  <style id="DragonTheme"></style>
  <style>
    html,
    body {
      background-color: black;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      color: white;
    }
    #Loading {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: 123;
    }
    #LoadingS {
      color: white;
      font-family: Verdana, Arial, sans-serif;
      font-size: 44px;
      padding: 20px 0;
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 750px;
      height: 150px;
      margin: auto;
    }
    @media (max-width: 900px), (max-height: 200px) {
      #LoadingS {
        font-size: 22px;
        width: 400px;
        height: 80px;
      }
    }
    .hhh {
      position: absolute;
      left: -999px;
      max-width: 888px;
    }
    .meterDN {
      height: 40px;
      position: relative;
      background: #555;
      border-radius: 25px;
      padding: 2px;
      box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    }
    .meterDN > span {
      display: block;
      height: 100%;
      border-radius: 20px;
      background-color: rgb(43, 194, 83);
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(43, 194, 83)),
        color-stop(1, rgb(84, 240, 84))
      );
      background-image: -moz-linear-gradient(
        center bottom,
        rgb(43, 194, 83) 37%,
        rgb(84, 240, 84) 69%
      );
      box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      position: relative;
      overflow: hidden;
    }
    .meterDN > span:after,
    .stripes,
    .animate > span > span {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: -webkit-gradient(
        linear,
        0 0,
        100% 100%,
        color-stop(0.25, rgba(255, 255, 255, 0.2)),
        color-stop(0.25, transparent),
        color-stop(0.5, transparent),
        color-stop(0.5, rgba(255, 255, 255, 0.2)),
        color-stop(0.75, rgba(255, 255, 255, 0.2)),
        color-stop(0.75, transparent),
        to(transparent)
      );
      background-image: -moz-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
      );
      z-index: 1;
      background-size: 50px 50px;
      animation: move_stripes 2s linear infinite;
      border-radius: 20px;
      overflow: hidden;
    }
    .animate > span:after {
      display: none;
    }
    @keyframes move_stripes {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 50px 50px;
      }
    }
    #meterDN1 {
      position: absolute;
      text-align: center;
      z-index: 1;
      color: white;
      font-size: 34px;
      text-shadow: -2px 0 4px black, 0 2px 4px black, 2px 0 4px black,
        0 -2px 4px black, 0 -1px 4px black, 1px 0 4px black;
      line-height: 40px;
      width: 100%;
    }
    #meterDN2 {
      width: 0;
    }
    #meterDN3 {
      width: 90%;
      margin: auto;
      position: relative;
    }
  </style>
</head>
