/*2012 Aug hoya Gunbound main*/

/* main menu start */

#common_top {width:100%; height:69px; background-image:url(../../img.softnyx.com/3/sn/sn_top/top_bg.gif);}
#mainmenu {width:996px; margin:0 auto; padding-left:20px; height:69px; background-image:url(../../img.softnyx.com/3/sn/sn_top/top_bg.gif);}
ul.dropdown li.main_logo {padding-right:20px;}
#maintop_left {float:left; 	width:620px; height:69px; background-image:url(../../img.softnyx.com/3/sn/sn_top/top_bg.gif);}
#maintop_right {float:left; width:376px; height:69px; background-image:url(../../img.softnyx.com/3/sn/sn_top/top_bg.gif);}

ul.dropdown {position: relative; z-index: 597; float: left;	padding-top:22px; display: block;}
ul.dropdown li {float: left; line-height: 1.3em; vertical-align: middle; zoom: 1;}
ul.dropdown li.hover, ul.dropdown li:hover {position: relative; z-index: 599; cursor: pointer;}

ul.dropdown ul.menu1 {visibility: hidden; position: absolute; top: 69px; left: 0; z-index: 598;	width:668px;}
ul.dropdown ul.menu2 {visibility: hidden; position: absolute; top: 69px; left: 217px; z-index: 598;	width:100px;}
ul.dropdown ul.menu4 {visibility: hidden; position: absolute; top: 69px; left: 422px; z-index: 598; width:auto;}
ul.dropdown ul.menu5 {visibility: hidden; position: absolute; top: 69px; left: 480px; z-index: 598; width:auto;}
ul.dropdown ul.menu6 {visibility: hidden; position: absolute; top: 28px; left: 50px; width:auto;}  /* Language */
/* ul.dropdown ul.menu7 {visibility: hidden; position: absolute; top: 62px;left:20px; width:210px;	padding:0 10px 0 10px; background-color:#323232;}  Login */

ul.dropdown ul li {float: none;}
ul.dropdown ul ul {top: 1px; left: 99%;}
ul.dropdown li:hover > ul {visibility: visible;}
ul.dropdown-linear {width: 100%;}
ul.dropdown-linear ul li {float: left;}
ul.dropdown-linear li.hover, ul.dropdown-linear li:hover {position: static;}
ul.dropdown-linear ul ul {display: none !important;}
ul.dropdown-columnar ul li {position: static;}
ul.dropdown ul ul {display: block !important;	position: static; width: auto !important;}

ul.dropdown ul.menu1 ul {display: block !important; position: static; width: auto !important;}
ul.dropdown ul.menu2 ul {display: block !important; position: static; width: 100px !important;}
ul.dropdown ul.menu4 ul {display: block !important; position: static; width: auto !important;}
ul.dropdown ul.menu5 ul {display: block !important; position: static; width: auto !important;}
ul.dropdown ul.menu6 ul {display: block !important; position: static; width: 191px !important;}
/* ul.dropdown ul.menu7 ul {display: block !important; position: static; width: auto !important;} */

ul.dropdown-columnar ul ul li {float: none;}
ul.dropdown-columnar ul ul ul {display: none;}
ul.dropdown-columnar li.hover ul, ul.dropdown-columnar li:hover ul {visibility: visible !important;}
ul.dropdown {font: bold 35px/normal Verdana, Geneva, sans-serif; font-size:14px;}
ul.dropdown li {padding: 0;	background-color: transparent;	color: #9a9a9a;}
ul.dropdown li.hover, ul.dropdown li:hover {color: #fcb416;}
ul.dropdown li.top_logout {color: #9a9a9a;}
ul.dropdown li.top_logout_hello {color: #9a9a9a;}

/* Forum only */
ul.dropdown .dir_forum a:link {color: #9a9a9a; text-decoration: none;}
ul.dropdown .dir_forum a:visited {color: #9a9a9a; text-decoration: none;}
ul.dropdown .dir_forum a:hover {color: #fcb416;}
ul.dropdown .dir_forum a:active {color: #ffa500;}

ul.dropdown a:link {color: #969696;	text-decoration: none;}
ul.dropdown a:visited {color: #969696; text-decoration: none;}
ul.dropdown a:hover {color: #fcb416;}
ul.dropdown a:active {color: #ffa500;}

 /* facebook */
ul.dropdown .button01 a:link {color: #fff; text-decoration: none;} 
ul.dropdown .button01 a:visited {color: #fff; text-decoration: none;}
ul.dropdown .button01 a:hover {color: #004474;}
ul.dropdown .button01 a:active {color: #004474;}

ul.dropdown ul {background-color: #242424; font-size: 11px;	letter-spacing: normal;	z-index:600;}
ul.dropdown .game_menu {color:#969696; text-align:center;}

ul.dropdown .menu1 .dir {background:url(../../img.softnyx.com/3/sn/sn_top/gamemenu_verLine.gif) no-repeat 100% 28%;	padding-right:11px;}

* html ul.dropdown ul {width: 996px;}

ul.dropdown ul li {font-weight: bold;}
ul.dropdown ul ul {margin-top: 5px;	text-transform: none;}
ul.dropdown ul ul li {font-weight: bold;}
/* menu 간격 */

/*
ul.dropdown *.dir {
	padding-top: 30px;
	background-image: url(http://img.softnyx.com/3/sn/sn_top/mainmenu_verLine.gif);
	background-position: 100% 100%;
	background-repeat: no-repeat;
}
*/

ul.dropdown ul *.dir {background-image: none;}
ul.dropdown li a {display: block; padding: 0;}

ul.dropdown li.dir {padding: 4px 0 26px 20px; display:block;}
ul.dropdown li.dir_servertime {font-size:11px; font-weight:normal; color:#989898; cursor:default;}
ul.dropdown li.dir_language {padding: 0 0 4px 15px; width:90px;	display:block;}
ul.dropdown li.dir_login {padding: 0; display:block; margin-top:10px;}
ul.dropdown li.dir_login ul{float:left;}
ul.dropdown li.dir_login li{padding:3px;}

.menu_verLine {background:url(../../img.softnyx.com/3/sn/sn_top/mainmenu_verLine.gif) no-repeat 100% 50%; padding-right:22px;}

.dir_forum {padding: 4px 0 4px 20px; display:block;	background:url(../../img.softnyx.com/3/sn/sn_top/mainmenu_verLine.gif) no-repeat 100% 50%;	padding-right:22px;}

li.dir:hover {background-image:url(../../img.softnyx.com/3/sn/sn_top/menu_select.png);	background-position: 50% 100%;	background-repeat:no-repeat;}
li.dir .menu5:hover {background-image:url(../../img.softnyx.com/3/sn/sn_top/menu_select.png);	background-position: 80% 100%;	background-repeat:no-repeat;}

ul.dropdown ul li.dir {padding: 10px;}
ul.dropdown ul {padding: 0 10px;}
#maintop_right ul.dropdown {padding-top:11px; padding-left:0px; float:left; font-size:11px; width:273px; display:block;}

ul.dropdown .menu1 a {width: 74px; padding: 0;}
ul.dropdown .menu2 a {width: 70px;	padding: 5px;	background: url(../../img.softnyx.com/3/sn/sn_top/pattern2.png) 0 23px repeat-x;}
ul.dropdown .menu4 a {width: auto;	padding: 5px;	background: url(../../img.softnyx.com/3/sn/sn_top/pattern2.png) 0 23px repeat-x;}
ul.dropdown .menu5 a {width: 140px;	padding: 5px;	background: url(../../img.softnyx.com/3/sn/sn_top/pattern2.png) 0 23px repeat-x;}
ul.dropdown .menu6 a {width: 180px;	padding: 5px;	background: url(../../img.softnyx.com/3/sn/sn_top/pattern2.png) 0 23px repeat-x; font-size:11px; font-weight:normal;}
ul.dropdown .menu7 a {width: 180px;	padding: 5px;	font-size:11px;	font-weight:normal;}

/* login */
ul.dropdown .menu7 .top_login a {
	padding-top:19px; padding-left:5px;	font-size:11px;	letter-spacing:-0.3px;	float:left; 	
	background:url(../../img.softnyx.com/3/sn/sn_top/login_btnBg.jpg) no-repeat; width:51px; height:37px; color:#FFF;}
	
ul.dropdown ul a:link {color: #969696;}
ul.dropdown ul a:hover {color: #fcb416;}

/* login */
ul.dropdown .menu7 .top_login a:link {color: #fff;}
ul.dropdown .menu7 .top_login a:hover {color: #fcb416;}

/* password */
ul.dropdown .menu7 .top_pw a:link {color: #969696;}
ul.dropdown .menu7 .top_pw a:hover {color: #fcb416;}

ul.dropdown ul ul {padding: 0;	margin-left: 0;}




/* button */
.button, .button * {
	position:relative;	margin:0;	padding:0;	display:-moz-inline-stack;	display:inline-block;
	text-decoration:none !important;	border:0;	font-size:11px;	font-family:Verdana, Geneva, sans-serif;
	white-space:nowrap;	background:url(../../img.softnyx.com/3/sn/sn_top/btn_bg01.png) no-repeat;	vertical-align:top;
	overflow:visible;	color:#9a9a9a;}
.button {margin-right:9px;}
.button * {left:4px; cursor:pointer; _cursor:hand;}
.button.medium, .button.medium * {height:23px; line-height:23px;}
.button.medium {background-position:0 0;}
.button.medium * {padding:0 5px 0 3px;	font-size:11px;	background-position:right top;}

/* Button Hover */
.button *:hover, .button *:active, .button *:focus {color:#fcb416;}

/* facebook btn */
.button01, .button01 * {
	position:relative;	margin:0;	padding:0;	display:-moz-inline-stack;	display:inline-block;
	text-decoration:none !important;	border:0;	font-size:11px;	font-family:Verdana, Geneva, sans-serif;
	white-space:nowrap;	background:url(../../img.softnyx.com/3/sn/sn_top/btn_bg02.png) no-repeat;
	vertical-align:top;	overflow:visible;	color:#fff;}
.button01 {padding-left:20px;	margin-right:9px;}
.button01 * {left:4px;	cursor:pointer;	_cursor:hand;}
.button01.medium01, .button01.medium01 * {height:23px; line-height:23px;}
.button01.medium01 {background-position:0 0;}
.button01.medium01 * {padding:0 6px 0 4px; font-size:11px;	background-position:right top;}

/* Button Hover */
ul li .button01 *:hover, .button01 *:active, .button01 *:focus {color:#004474;}

/* orange btn */
.button02, .button02 * {
	position:relative;	margin:0;	padding:0;	display:-moz-inline-stack;	display:inline-block;
	text-decoration:none !important;	border:0;	font-size:11px;	font-family:Verdana, Geneva, sans-serif;
	white-space:nowrap;	background:url(../../img.softnyx.com/3/sn/sn_top/btn_bg03.png) no-repeat;
	vertical-align:top;	overflow:visible;	color:#fff;}
.button02 {padding-left:8px; margin-right:9px;}
.button02 * {left:4px;	cursor:pointer;	_cursor:hand;}
.button02.medium02, .button02.medium02 * {height:23px; line-height:21px;}
.button02.medium02 {background-position:0 0;}
.button02.medium02 * {padding:0 10px 0 6px;	font-size:12px;	background-position:right top;}

/* Button Hover */
ul li .button02 *:hover, .button02 *:active, .button02 *:focus {color:#000;}

/* contents btn */
.button03, .button03 * {
	position:relative;	margin:0;	padding:0;	display:-moz-inline-stack;	display:inline-block;
	text-decoration:none !important;	border:0;	font-size:11px;	font-family:Verdana, Geneva, sans-serif;
	white-space:nowrap;	background:url(../../img.softnyx.com/3/sn/sn_top/btn_bg04.png) no-repeat;
	vertical-align:top;	overflow:visible;	color:#434343;}
.button03 {padding-left:8px; margin-right:2px;}
.button03 * {left:4px;	cursor:pointer;	_cursor:hand;}
.button03.medium03, .button03.medium03 * {height:20px; line-height:19px;}
.button03.medium03 {background-position:0 0;}
.button03.medium03 * {padding:0 10px 0 6px;	font-size:11px;	background-position:right top;}

/* Button Hover */
.button03 *:hover, .button03 *:active, .button03 *:focus {color:#f26223;}

.ad_area {padding:5px 10px 0 20px; 	float:left;}

/* login */
ul.dropdown .top_login {float:left; width:50px; height:56px; padding-top:5px; padding-left:8px;}
ul.dropdown .top_logout {float:left; padding-top:15px;}
ul.dropdown .top_logout_hello {float:left; padding-top:15px; cursor:default; background:url(../../img.softnyx.com/3/sn/sn_top/smile_icon.png) no-repeat 0 100%; padding-left:18px;}

/* password */
ul.dropdown .top_pw {clear:both;}


/*************** main menu end *********************/

<!--
body, div, ul, li, dl, dt, dd, ol, p, h1, h2, h3, h4, h5, h6, form {margin:0; padding:0;  text-decoration:none; }
body {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; background-color:#fff; color:#707070; line-height:18px; letter-spacing:-0.02em }
ul, ol, dl, li{list-style:none;}
img {border:0; vertical-align:top;}
ul {list-style:none; padding:0;	margin:0;}
a {selector-dummy:expression(this.hideFocus=true); } 
:focus {-moz-outline-style:none;}
a:link, a:visited {color:#707070; text-decoration:none;}
a:hover {color:#fe7e00;}
em { font-style:normal;}

h2 { font-size:18px; line-height:24px;}
h3 { font-size:14px; line-height:18px;}
h4 { font-size:12px; line-height:18px;}

.basictext_style01 {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#707070; }/* basic text style */
.basictext_style02 {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; color:#707070; }/* basic text style */
-->

#gb_wrap {width:100%;}
#gb_left_bg {background:url(/static/images/themes/season3/common/GBleft_bg.jpg) no-repeat right top; left: -498px; margin:0; width: 50%; position: absolute;  height:670px;}
#gb_center {display:block; margin:0 auto; width:996px; z-index:444; position:relative; background-color:#FFF;}
#gb_right_bg {background:url(/static/img.softnyx.com/3/gb/common/GBright_bg.jpg) no-repeat 498px 0; right:0; top:0px !important; width:50%; position: absolute; height:670px;}
body:first-of-type #gb_right_bg {background:url(/static/images/themes/season3/common/GBright_bg.jpg) no-repeat 497px 0; right:0; top:0px; width:50%; position: absolute; height:670px;} /* chrome hack */

#gb_top_area {width:996px; height:267px; background:url(/static/images/themes/season3/common/GBtop_bg.jpg) no-repeat;}
#gb_top_area h1 a {left:350px; top:32px; width:300px; height:200px; margin:0; display:block; position:absolute;}
.gb_gamestart {float:right; cursor: pointer;}

#GNBmenu {width:996px; height:57px; background:url(/static/images/themes/season3/common/GBtopmenu_bg.jpg) no-repeat;}

#gb_contents {padding-top:20px; min-height:700px;}

#gb_contents_left {padding-left:10px; width:260px; float:left;}
.GBleft_banner {padding-top:24px; padding-bottom:40px;}
.GBleft_banner li a {display: block; padding: 14px 0 12px 68px; margin: 0; color: #747474; text-decoration: none;}
.GBleft_banner li a:hover {color:#fe7e00;}
.gb_supporters {background:url(../../img.softnyx.com/3/gb/main/gbsupporters_btn.jpg); width:260px; height:45px; font-size:14px; font-weight:bold; display:block;}
.about_gcoin {background-image:url(../../img.softnyx.com/3/gb/main/aboutgcoin_btn.jpg);width:260px; height:45px; font-size:14px; font-weight:bold; display:block;}


#gb_community {background:url(../../img.softnyx.com/3/gb/main/community_bg.jpg) 198px 0 no-repeat; width:260px; height:124px;}
#gb_community h3 {color:#fe7e00;}



.gb_quickMenu {background:url(../../img.softnyx.com/3/gb/main/gb_quickMenu.gif); width:260px; height:79px; }
.gb_quickMenu li {display:inline-block; color:#545454; font-size:11px; font-weight:bold; text-align:center; width:83px; letter-spacing:-0.4px;}
*:first-child+html .gb_quickMenu li {display:inline; color:#545454; font-size:11px; font-weight:bold; text-align:center; width:85px; letter-spacing:-0.4px;}
.gb_quickMenu li a { display: block; padding: 59px 4px 2px 4px; margin: 0; color: #545454; text-decoration: none; } 
.gb_quickMenu li *:hover, .gb_quickMenu  *:active, .gb_quickMenu   *:focus {color:#fe7e00;}

#etc_banner li {display:inline-block; zoom:1; *display:inline;}

#gb_contents_center {width:439px; padding-left:20px; float:left}
#gb_bbs {width:439px; height:192px; background:url(../../img.softnyx.com/3/gb/main/gb_bbs_bg.gif);}
.bbs_menu {width:380px; float:left; padding-left:24px; padding-top:10px;}
.bbs_menu li {padding-right:14px; display:inline-block; zoom:1; *display:inline;}
.bbs_menu_select {font-weight:bold; color:#fe7e00;}
.bbs_more a {float:right; padding-top:14px; padding-right:4px; font-size:11px; color:#b0b0b0;}
#bbs_all ul {width:426px; float:left; clear:both; padding-top:10px;}
#bbs_all li {padding-left:8px; padding-top:10px;}
#bbs_all li img {vertical-align:-3px;}
*:first-child+html #bbs_all li {display:block;}
#bbs_all a {padding-left:4px;}
.bbs_date {float:right; font-size:11px; color:#b0b0b0;}
*:first-child+html .bbs_date {margin-top:-19px;}


#hot_items {padding-top:30px; width:439px;}
*:first-child+html #hot_items {padding-top:0;}
#hot_items h4 {color:#fe7e00; font-size:14px; font-weight:bold; width:200px; float:left; padding-left:4px; padding-bottom:6px;}
*:first-child+html #hot_items h4 {padding-top:20px;}
.hotitem_more a {float:right; font-size:11px; color:#b0b0b0; padding-right:4px; padding-bottom:;}
*:first-child+html .hotitem_more a {padding-top:20px;}
.item_area {clear:both; width:439px; height:97px; background:url(../../img.softnyx.com/3/gb/main/hotitem_bg.gif);}
.item_area ul {padding-top:14px;}
.item_area li {display:inline-block; zoom:1; *display:inline; font-size:10px; color:#666666; width:100px; height:82px; text-align:center; padding-left:6px; letter-spacing:-0.4px;}
*:first-child+html .ie7_item {padding-left:10px;}
.item_btn_list ul {padding-top:6px;}
@media screen and (-webkit-min-device-pixel-ratio:0) { .item_btn_list ul {padding-top:0; margin-top:0} } /* chrome hack */
.item_btn_list li {display:inline-block; zoom:1; *display:inline;}


/* item_area alert */
div.item_area ul li div.alert { position:absolute; top:-75px; z-index:3;}
div.item_area ul li div.alert02 { position:absolute; top:-75px; z-index:3;}
div.item_area ul li div.alert .label { width:150px; height:65px; background-color:#FFF; border:#fe7e00 solid 3px; padding:5px; overflow:hidden; font-size:11px; color:#707070; line-height:12px; margin-top:5px; text-align:center }
div.item_area ul li div.alert02 .label { width:150px; height:65px; background-color:#FFF; border:#fe7e00 solid 3px; padding:5px; overflow:hidden; font-size:11px; color:#707070; line-height:12px; margin-top:5px; text-align:center }
div.item_area ul li div.alert .tail { left:35px; margin-left:-10px; border-right :10px solid transparent; border-top:10px solid #fe7e00; border-left:10px solid transparent; position:absolute; bottom:-10px; width:0; height:0; }
div.item_area ul li div.alert02 .tail { left:35px; margin-left:-10px; border-right :10px solid transparent; border-top:10px solid #fe7e00; border-left:10px solid transparent; position:absolute; bottom:-10px; width:0; height:0; }
div.item_area ul li div.alert .tit { font-size:12px; font-weight:bold; color:#fe7e00; margin-bottom:5px; line-height:20px;}
div.item_area ul li div.alert02 .tit { font-size:12px; font-weight:bold; color:#fe7e00; margin-bottom:5px; line-height:20px;}

*:first-child+html div.item_area ul li div.alert { margin-left:-114px; }
*:first-child+html div.item_area ul li div.alert .tail { left:45px; margin-left:10px; }
*:first-child+html div.item_area ul li div.alert02 { margin-left:-154px; }
*:first-child+html div.item_area ul li div.alert02 .tail { left:65px; margin-left:10px; }

#gb_contents_right {width:237px; float:right; padding-right:10px;}
#login_area h2 {color:#fe7e00;}
#login_area p {color:#6f6f6f; font-size:12px;}
.login_more a {float:right; padding-top:0; font-size:11px; color:#b0b0b0;}
#login_area h4 {width:180px; float:left; color:#960b0b;}
*:first-child+html  #login_area h4 {font-size:14px;}
#login_area h4 img{ vertical-align:-2px;}
.login_info {clear:both; padding-top:10px;}
.login_info li {font-size:11px;}
#login_area h3 {color:#960b0b;}


#ranking_area h4 {color:#fe7e00; float:left; padding-top:40px; padding-bottom:10px; font-size:14px}
#ranking_area p {float:right; vertical-align:-3px;  padding-top:40px; padding-bottom:10px;}
.ranking_bg {clear:both; width:237px; height:155px; background:url(../../img.softnyx.com/3/gb/main/ranking_bg.gif);}
.ranking_bg ul {width:118px; padding-top:12px;}
.ranking_bg li { font-size:10px; color:#636363; letter-spacing:-0.4px; line-height:26px;}
.ranking_bg li img{ border:#494949 solid 1px; vertical-align:-3px;}


#gb_social li {display:inline-block; zoom:1; *display:inline; font-size:11px; color:#666666;}
.bbs_menu_select a {font-weight:bold; color:#3b5998;}

/*버튼*/

/* gb community btn */ 
.button03, .button03 * {
	position:relative;	margin:0;	padding:0;	display:-moz-inline-stack;	display:inline-block;
	text-decoration:none !important;	border:0;	font-size:12px; font-weight:bold; font-family:Verdana, Geneva, sans-serif;
	white-space:nowrap;	background:url(../../img.softnyx.com/3/gb/common/basic_btn.gif) no-repeat;
	vertical-align:top;	overflow:visible;	color:#434343;}
.button03 {padding-left:8px; margin-right:9px;}
.button03 * {left:4px;	cursor:pointer;	_cursor:hand;}
.button03.medium03, .button03.medium03 * {height:29px; line-height:26px;}
.button03.medium03 {background-position:0 0;}
.button03.medium03 * {padding:0 10px 0 6px;	font-size:12px;	font-weight:bold; background-position:right top;}

/* Button Hover */
.button03 a {color:#434343;}
.button03 a:hover {color:#fe7e00;}


/* gb hotitem btn */ 
.button04, .button04 * {
	position:relative;	margin:0;	padding:0;	display:-moz-inline-stack;	display:inline-block;
	text-decoration:none !important;	border:0;	font-size:11px; font-weight:bold; font-family:Verdana, Geneva, sans-serif;
	white-space:nowrap;	background:url(../../img.softnyx.com/3/gb/common/basic_small_btn.gif) no-repeat;
	vertical-align:top;	overflow:visible;	color:#434343;}
.button04 {padding-left:1px; margin-right:1px;}
.button04 * {left:1px;	cursor:pointer;	_cursor:hand;}
.button04.medium04, .button04.medium04 * {height:24px; line-height:24px;}
.button04.medium04 {background-position:0 0;}
.button04.medium04 * {padding:0; font-size:11px;	font-weight:bold; background-position:right top;}

/* Button Hover */
.button04 a {color:#434343;}
.button04 a:hover {color:#fe7e00;}


/* gb point btn */ 
.button05, .button05 * {
	position:relative;	margin:0;	padding:0;	display:-moz-inline-stack;	display:inline-block;
	text-decoration:none !important;	border:0;	font-size:12px; font-weight:bold; font-family:Verdana, Geneva, sans-serif;
	white-space:nowrap;	background:url(../../img.softnyx.com/3/gb/common/point_btn.gif) no-repeat;
	vertical-align:top;	overflow:visible;	color:#960b0b;}
.button05 {padding-left:0; margin-right:4px;}
.button05 * {cursor:pointer;	_cursor:hand;}
.button05.medium05, .button05.medium05 * {height:29px; line-height:26px;}
.button05.medium05 {background-position:0 0;}
.button05.medium05 * {padding:0;	font-size:12px;	font-weight:bold; background-position:right top;}

/* Button Hover */
.button05 a {color:#960b0b;}
.button05 a:hover {color:#fff;}


/* gb facebook btn */ 
.button06, .button06 * {
	position:relative;	margin:0;	padding:0;	display:-moz-inline-stack;	display:inline-block;
	text-decoration:none !important;	border:0;	font-size:12px; font-weight:bold; font-family:Verdana, Geneva, sans-serif;
	white-space:nowrap;	background:url(../../img.softnyx.com/3/gb/common/facebook_btn.gif) no-repeat;
	vertical-align:top;	overflow:visible;	color:#fff;}
.button06 {padding-left:0; margin-right:4px;}
.button06 * {cursor:pointer;	_cursor:hand;}
.button06.medium06, .button06.medium06 * {height:29px; line-height:26px;}
.button06.medium06 {background-position:0 0;}
.button06.medium06 * {padding:0 10px 0 6px;	font-size:12px;	font-weight:bold; background-position:right top;}

/* Button Hover */
.button06 a {color:#fff;}
.button06 a:hover {color:#fe7e00;}


/* google keyword */
#googleSerach {padding-top:30px;}

#googleSerach .search_border {
	background-color: #FFFFFF;
	border: #FC0 solid 3px; 
	display: inline-block;
	height: 23px;
}

input.keyword {
   background:#fff url('../../img.softnyx.com/3/sn/common/keyword.gif') 6px 2px no-repeat;
   border:0;
   font-size:12px; font-family:Verdana, Geneva, sans-serif;
   margin:3px 0 0 3px;
   width:155px;
  }
input.keyword01 {
 background: none;
 border:0;
 font-size:12px; font-family:Verdana, Geneva, sans-serif;
 margin:3px 0 0 3px;
 width:155px;
 }



/* bottom */
#main_bottom {height:80px; clear:both; padding-top:40px;} 

.bottom01 {width:100%;  height:75px;}
.bottom02 {width:996px; margin:0 auto; font-size:11px; color:#7c7c7c; text-align:center; padding-top:18px;}
.bottom02 li {display:inline; line-height:20px}
.bottom02 li a:link {color: #7c7c7c; text-decoration:none;} 
.bottom02 li a:visited {color: #7c7c7c; text-decoration: none;}
.bottom02 li a:hover {color: #f26223;}
.bottom02 li a:active {color: #7c7c7c;}
.bottom_icon01 {background:url(../../img.softnyx.com/3/sn/sn_top/softnyx_icon.png) no-repeat 0 100%; padding-left:48px;}
.bottom_icon02 {background:url(../../img.softnyx.com/3/sn/sn_top/mail_icon.gif) no-repeat 0 80%; padding-left:12px;}
