@charset "utf-8";
::selection {
    background: rgba(255, 180, 0, .85);
    color: #fff
}

::-moz-selection {
    background: rgba(255, 180, 0, .85);
    color: #fff
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    line-height: 1.2
}

html,
body,
button,
input,
textarea,
form,
select {
    font-family: 'Oswald', 'sans-serif', "맑은 고딕", 'Malgun Gothic'
}

.inner {
    overflow: inherit;
    position: static;
    padding: 0 15px
}

.container  {
    padding: 0px 0px
}

.content section.login_wrap {
    width: 685px;
}

.login_wrap .login_area {
    width: 340px;
    margin: 0 auto;
    padding-top: 20px
}

.contents_op7 {
    background:url(/static/images/memberTop_op7_.png) no-repeat right 20px;
    background-position: 5% 69%;
}

.content {
    display: block;
    overflow: hidden;
    position: relative
}

.content section {
    padding: 32px 0 32px
}

.content section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.content h2 {
    padding-bottom: 5px;
    color: #4d4d4d;
    font-size: 50px;
    text-transform: uppercase
}

.content .help {
    display: none;
    position: absolute
}

.content .help p {
    padding: 6px 0;
    color: #ff8a18;
    font-size: 13px;
    font-weight: bold
}

.content .chance {
    width: 100%;
    margin: 28px 0
}

.content button[type="submit"] {
    width: 100%;
    margin: 20px 0 28px;
    padding: 11px 0;
    border: 0;
    border-radius: 10px;
    background: #ffbb18;
    color: #4d4d4d;
    font-size: 22px;
    cursor: pointer
}

.content .command {
    overflow: hidden;
    margin-top: 10px
}

.content .command:first-child {
    margin: 0
}

.content .command input {
    display: block;
    width: calc(100% - 40px);
    padding: 11px 20px;
    margin: 0 auto;
    border: 0;
    border-radius: 10px;
    background: #e9e9e9;
    font-size: 22px
}

.content .command input:placeholder {
    color: #c4c4c4
}

.content .command input[type="radio"] {
    float: left;
    width: 24px;
    height: 24px;
    margin: 15px 0;
    line-height: 1
}

.content .command input[type="radio"]+label {
    width: inherit;
    padding: 13px 15px
}

.content .command label {
    float: left;
    padding: 13px 20px 13px 0;
    text-align: left;
    font-size: 22px
}

.content .command label.letter {
    width: 100%
}

.content .command .guide {
    float: right;
    width: 100%;
    padding-top: 9px
}

.content .command .guide p {
    text-align: left;
    color: #a6a6a6;
    font-size: 16px
}

.content .command select {
    float: left;
    width: 100%;
    margin: 6px 0;
    padding: 2px 16px;
    border: 2px solid #000;
    font-size: 22px
}

.content .command .detail {
    display: block;
    float: left;
    padding: 10px 0 0 0
}

.content .command .detail a {
    display: inline-block;
    padding: 13px 10px;
    border: 4px solid #ffbb18;
    color: #fff;
    font-size: 17px;
    box-sizing: border-box
}

.content .command .detail a.change {
    background: #ff9524
}

.content .command .detail a.verification {
    background: #ff5705
}

.content .sns_area button {
    width: 100%;
    height: 54px;
    padding-left: 60px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 22px;
    cursor: pointer
}

.content .sns_area button.facebook {
    background-color: #3b5998;
    background-image: url('https://img.softnyx.com/resources/www/esp/member/btn_facebook.jpg');
    background-repeat: no-repeat;
    background-size: contain
}

.content .sns_area button.google {
    margin: 10px 0 0 0;
    background-color: #dd4b39;
    background-image: url('https://img.softnyx.com/resources/www/esp/member/btn_google.jpg');
    background-repeat: no-repeat;
    background-size: contain
}

.content .agree {
    margin-top: 13px
}

.content .agree label {
    font-size: 22px
}

.content .agree input[type="checkbox"] {
    width: 24px;
    height: 24px
}

.content .agree label a {
    color: #ffbb18;
    text-decoration: underline
}

.login_wrap .logo_area {
    width: 100%;
    margin: 0 auto
}

.login_wrap .logo_area a {
    display: block;
    padding-bottom: 8px;
}

.login_wrap .login_area .command input {
    margin-top: 10px
}

.login_wrap .login_area ul {
    font-size: 0
}

.login_wrap .login_area ul li {
    display: inline-block;
    padding: 0 14px;
    border-left: 3px solid #4d4d4d
}

.login_wrap .login_area ul li:first-child {
    padding-left: 0;
    border: 0
}

.login_wrap .login_area ul li a {
    display: block;
    color: #4d4d4d;
    font-size: 22px
}

.login_wrap .sns_area {
    width: 420px;
    margin: 0 auto;
    padding-top: 32px
}

.login_wrap .launcher_area {
    padding-top: 20px
}

.login_wrap .launcher_area a {
    display: block;
    padding: 7px 5px;
    border: 3px solid transparent;
    border-radius: 10px;
    background: #e1e1e1;
    color: #4d4d4d;
    font-size: 22px;
    box-sizing: border-box;
    background: linear-gradient(#e1e1e1, #e1e1e1) padding-box, linear-gradient(to top, #e7f0fd 0, #accbee 50%, #e7f0fd 100%) border-box
}

.login_wrap .launcher_area a span {
    display: block;
    min-height: 30px;
    max-height: 30px;
    padding: 10px 0 10px 55px;
    background: url('https://img.softnyx.com/resources/www/esp/main/btn_quick.png') no-repeat 0 -150px;
    line-height: 1
}

.join_wrap .sns_area ul li {
    display: block;
    width: 100%;
    padding: 5px 0
}

.join_wrap .sns_area button {
    height: 48px;
    padding-left: 50px;
    background-position: center center
}

.join_wrap .sns_area button.google {
    margin: 0
}

.join_wrap .join_area {
    padding-top: 32px
}

.welcome_wrap .welcome_area h2 {
    color: #4d4d4d;
    font-size: 52px
}

.welcome_wrap .welcome_area h2+p {
    padding: 0;
    color: #ff8a18;
    font-size: 24px
}

.welcome_wrap .welcome_area p {
    padding-top: 20px;
    color: #4d4d4d;
    font-size: 20px
}

.welcome_wrap .welcome_area a {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px
}

.welcome_wrap .welcome_area a img {
    border-radius: 10px
}

.welcome_wrap .btn_area button {
    width: 100%;
    margin: 20px 0 28px;
    padding: 11px 0;
    border: 0;
    border-radius: 10px;
    background: #ffbb18;
    color: #4d4d4d;
    font-size: 22px;
    cursor: pointer
}

.mypage_wrap .mypage_area .command input {
    float: left
}

@media only screen and (min-width:768px) {
    .content section.login_wrap {
        width: 685px;
    }
    .content section {
        padding: 36px 0 36px;
    }
    .contents_op7 {
        background:url(/static/images/memberTop_op7_.png) no-repeat right 20px;
        background-position: 5% 69%;
    }
    .login_wrap .login_area {
        width: 340px;
        margin: 0 auto;
        padding-top: 30px
    }
    .content h2 {
        padding-bottom: 10px;
        font-size: 50px;
    }
    .login_wrap .sns_area {
        width: 420px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .content .command input {
        width: 260px;
        padding: 11px 40px
    }
    .content .command label {
        width: 140px;
        padding: 13px 30px 13px 0;
        text-align: right
    }
    .content .command label.letter {
        width: 210px;
        padding: 10px 30px 10px 0
    }
    .content .command label.answer_before {
        padding: 41px 30px 41px 0
    }
    .content .command label.answer_after,
    .content .command label[for="userbirthday"] {
        padding: 10px 30px 10px 0
    }
    .content .command .guide,
    .content .command select {
        width: 420px
    }
    .content .command .detail {
        padding: 0 0 0 8px
    }
    .content .btn_area {
        width: 420px;
        margin: 0 auto;
        padding-top: 30px
    }
    .login_wrap .logo_area {
        width: 100%;
    }
    .login_wrap .launcher_area a {
        padding: 12px
    }
    .join_wrap .sns_area {
        width: 590px;
        margin: 0 auto
    }
    .join_wrap .sns_area ul {
        font-size: 0
    }
    .join_wrap .sns_area ul li {
        display: inline-block;
        width: 46%;
        margin: 0 10px;
        padding: 0
    }
    .join_wrap .join_area {
        width: 590px;
        margin: 0 auto;
        padding-top: 43px
    }
    .welcome_wrap .welcome_area h2 {
        font-size: 64px
    }
    .welcome_wrap .welcome_area a {
        width: 590px
    }
    .mypage_wrap .mypage_area {
        width: 760px;
        margin: 0 auto
    }
    .mypage_wrap .mypage_area .command input {
        width: 290px
    }
    .mypage_wrap .mypage_area .command input[type="radio"] {
        width: 24px
    }
    .mypage_wrap .mypage_area .command label {
        width: 170px
    }
    .mypage_wrap .mypage_area .command label.answer_before {
        padding: 28px 30px 28px 0
    }
    .mypage_wrap .mypage_area .command .guide {
        padding-right: 140px
    }
    .password_wrap .password_area,
    .email_wrap .email_area,
    .question_wrap .question_area {
        width: 730px;
        margin: 0 auto
    }
    .password_wrap .password_area .command label,
    .email_wrap .email_area .command label,
    .question_wrap .question_area .command label {
        width: 280px
    }
}

@media only screen and (min-width:1024px) {
    .login_wrap .logo_area a {
        padding-bottom: 0px;
    }
    .content h2 {
        padding-bottom: 5px;
        color: #4d4d4d;
        font-size: 50px;
        text-transform: uppercase
    }
    .container {
        padding: 0px 0;
    }
    main.login {
        background: #fff;
    }
    main.join {
        width: 100%;
        background: url('/static/images/bg_join.jpg') no-repeat center top
    }
    main.welcome {
        width: 100%;
        background: url('https://img.softnyx.com/resources/www/esp/member/bg_welcome.jpg') no-repeat center top
    }
    main.mypage {
        width: 100%;
        background: url('https://img.softnyx.com/resources/www/esp/member/bg_mypage.jpg') no-repeat center top
    }
    main.password {
        width: 100%;
        background: url('https://img.softnyx.com/resources/www/esp/member/bg_password.jpg') no-repeat center top
    }
    main.email {
        width: 100%;
        background: url('https://img.softnyx.com/resources/www/esp/member/bg_email.jpg') no-repeat center top
    }
    main.question {
        width: 100%;
        background: url('https://img.softnyx.com/resources/www/esp/member/bg_question.jpg') no-repeat center top
    }
    .content section {
        position: relative;
        padding: 20px 0 20px;
    }
    .contents_op7 {
        background:url(/static/images/memberTop_op7_.png) no-repeat right 20px;
        background-position: 5% 69%;
    }
    .content section.login_wrap,
    .content section.join_wrap,
    .content section.welcome_wrap,
    .content section.mypage_wrap,
    .content section.password_wrap,
    .content section.email_wrap,
    .content section.question_wrap {
        width: 685px
    }
    .content .command {
        margin-top: 14px
    }
    .content .command input {
        padding: 20px 40px;
        font-size: 24px
    }
    .content .command input[type="radio"] {
        margin: 26px 0
    }
    .content .command input[type="radio"]+label {
        padding: 24px 15px
    }
    .content .command label {
        padding: 24px 30px 24px 0;
        font-size: 24px
    }
    .content .command label.answer_before {
        padding: 62px 30px 62px 0
    }
    .content .command select {
        margin: 15px 0;
        font-size: 24px
    }
    .content .command .detail {
        margin: 12px 0
    }
    .content .command .detail a {
        padding: 10px 18px;
        font-size: 20px
    }
    .content .agree label {
        font-size: 24px
    }
    .login_wrap .login_area {
        width: 340px;
        margin: 0 auto;
        padding-top: 20px
    }
    .login_wrap .login_area button {
        /*margin: 28px 0 34px;*/
        padding: 14px 0;
        font-size: 24px
    }
    .login_wrap .login_area ul li a {
        font-size: 18px
    }
    .login_wrap .sns_area {
        width: 420px;
        margin: 0 auto;
        padding-top: 20px
    }
    .login_wrap .sns_area button {
        height: 70px;
        font-size: 24px
    }
    .login_wrap .sns_area button.google {
        margin-top: 14px
    }
    .login_wrap .launcher_area {
        width: 420px;
        margin: 0 auto;
        padding-top: 24px
    }
    .login_wrap .launcher_area a {
        padding: 18px
    }
    .join_wrap .join_area label.letter {
        width: 140px
    }
    .mypage_wrap .mypage_area {
        width: 820px;
        margin: 0 auto
    }
    .password_wrap .password_area,
    .email_wrap .email_area,
    .question_wrap .question_area {
        width: 760px;
        margin: 0 auto
    }
    .mypage_wrap .mypage_area .command label.answer_before {
        padding: 48px 30px 48px 0
    }
    .mypage_wrap .mypage_area .command .guide {
        padding-right: 200px
    }
    .password_wrap .password_area .command label,
    .email_wrap .email_area .command label,
    .question_wrap .question_area .command label {
        width: 310px
    }
}