@charset "utf-8";

/* Fuentes */
@font-face{font-family:"titillium";src:url('/static/images/font/titillium-regular-webfont.eot');
src:url('/static/images/font/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('/static/images/font/titillium-regular-webfont.woff') format('woff'),
url('/static/images/font/titillium-regular-webfont.ttf') format('truetype'),
url('/static/images/font/titillium-regular-webfont.svg#titillium') format('svg');
src:local(?),url('/static/images/font/titillium-regular-webfont.woff') format('woff')}

@font-face{font-family:"TitilliumWeb-Bold";
src:url('/static/images/font/titillium-bold-webfont.eot');
src:url('/static/images/font/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('/static/images/font/titillium-bold-webfont.woff') format('woff'),
url('/static/images/font/titillium-bold-webfont.ttf') format('truetype'),
url('/static/images/font/titillium-bold-webfont.svg#titillium') format('svg');
src:local(?),url('/static/images/font/titillium-bold-webfont.woff') format('woff')}


/* All  */
html{font-size:62.5%}
body{font-size:16px;font-size:1.6rem;letter-spacing:-0.025em} /* 16px */
h1{font-size:24px;font-size:2.4rem} /* 24px */
body,div,ul,li,dl,dt,dd,ol,p,h1,h2,h3,h4,h5,h6,form{margin:0;padding:0}
body{overflow-x:hidden;*overflow-x:none}

ul,ol,dl,li{list-style:none}
img{vertical-align:top}
em{font-style:normal}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
img{max-width:100%;height:auto;border:0}
html,body{min-height:100%;height:100%}
a{cursor:pointer;text-decoration:none;color:#a1a1a0}
a,img{border:none;border:0;outline:none}
strong{font-weight:bold}
input{outline-style:none}
input[type=checkbox],input[type=radio]{vertical-align:-1px}
select {
  font-family: 'Oswald', 'sans-serif', "맑은 고딕", 'Malgun Gothic'
}

body,table,input,button,textarea,select,li,a,ul,p,div,h1,h2,h3,h4,h5,span{font-family: 'Oswald', 'sans-serif', "맑은 고딕", 'Malgun Gothic'}

/********************************************************/
/* font setting */
#subContents h2, #subContents h3{text-transform:uppercase;font-size:2.3em;
font-family:"TitilliumWeb-Bold", "Arial Black", Gadget, sans-serif;font-style:normal;font-variant:normal;font-weight:500}

#subContents h3{font-size:1.5em;margin:0px 0 15px;color:#4A4771;clear:both} 
#subContents .rightArea h2{color:#4A4771;margin:40px 0 20px;text-align:center}

.align_l{float:left;text-align:left;display:inline-block;zoom:1;*display:inline}
.align_r{float:right}

.agree{clear:both}
.agree span.check{display:inline-block;zoom:1;*display:inline;width:25px;height:25px;vertical-align:top}
.agree .txt{height:25px}
.agree .txt>a{color:#7C3875;font-weight:bold;text-decoration:underline}

/* Mobile */
/* #common_top{display:none} */
.banner{display:none}

#wrap{background:#FFF}
#wrap .contents{width:100%;margin:0 auto}


#sn_common_bottom{background: url(img/carbono.gif) repeat;}

#subContents{margin:0 auto;padding:0}
#subContents .leftArea{padding:20px 10px;
background:#7C3875;color:#FFF;
background-image:url("/static/images/overlay.png"), -moz-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-image:url("/static/images/overlay.png"), -webkit-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-image:url("/static/images/overlay.png"), -ms-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-image:url("/static/images/overlay.png"), linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-size:100px 100px, cover;
color:rgba(255, 255, 255, 0.8)}
#subContents .rightArea{margin:0 5px 40px}
#subContents .rightArea>p,#subContents .t_line{text-align:center; margin:20px 0}
#subContents .triangle{position:relative;right:inherit;top:inherit;display:inline-block;zoom:1;*display:inline;width:0;height:0;border-style:solid;border-width:10px; margin:0 auto}
#subContents .triangle.test_1{border-color:#b8b6c3 transparent transparent transparent}

#subContents .area{clear:both;min-height:100px}
#subContents .command{float:left;display:inline-block;zoom:1;*display:inline;margin-bottom:5px;vertical-align:top;width:97%}

#subContents .txtfield{width:292px;height:100px;color:#666;margin-bottom:20px}
/* #subContents .command input{width:271px;height:21px;padding:7px 5px 8px 20px;border:2px solid #933} */
#subContents .message{float:left;display:inline-block;zoom:1;*display:inline;width:300px;color:#F00;font-weight:bolder;padding:5px 0 10px;letter-spacing:-0.05em}
#subContents .message>label, #subContents .message>a{margin-top:10px;color:#4A4771;text-decoration:underline}

#subContents .guide{clear:both;margin:10px 0 0 2px;background:url(img/arrow_message.gif) no-repeat left 4px;padding-left:15px;text-align:left!important}
#subContents .guide a:link,#subContents .guide a:hover,#subContents .guide a:visited{color:#7C3875;font-weight:bolder}
#subContents .gender{padding-bottom:40px;width:100%}
#subContents .hGroup{clear:both}
#subContents label{cursor:pointer}


/* Login Area */
.loginArea, .facebookArea{max-width:650px;margin:0 auto 40px}
.loginArea input[type=text],.loginArea input[type=password]{display:block;font-size:1em;max-width:600px;width:95%;min-width:200px;height:30px;margin-bottom:10px;padding:20px 2px;
	border:3px solid #4A4771;border-radius:5px;vertical-align:-1px}
.loginArea input[type=text]:focus,.loginArea input[type=password]:focus{border:3px solid #C00;background:#FFF}
.loginArea input.okBtn, .facebookArea input.facebookBtn{max-width:610px;width:97%;min-width:200px;height:55px;padding:5px 2px;border:1px solid #7C3875;color:#FFF;font-size:1em;text-transform:uppercase;font-weight:bold;border-radius:5px;background:#C00;
 -webkit-border-radius:5px;-webkit-appearance:none;
background-image:url("/static/images/overlay.png"), -moz-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-image:url("/static/images/overlay.png"), -webkit-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-image:url("/static/images/overlay.png"), -ms-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-image:url("/static/images/overlay.png"), linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-size:100px 100px, cover}
 
.loginArea ul, .facebookArea ul{margin-top:10px}
.loginArea li, .facebookArea li{list-style:disc;color:#666; margin:5px 0 10px 20px}
.loginArea li>a{font-weight:bold;color:#7C3875}

#subContents .facebookArea h3{color:#2e42a5}
.facebookArea input.facebookBtn{border:1px solid #339;background:#2e42a5}

#subContents .ok_btn:hover,.loginArea input.okBtn:hover, .facebookArea input.facebookBtn:hover, #subContents .cancel_btn:hover{opacity:0.8;filter:alpha(opacity=80)}


/* SimpleReg */
.command input[type=text],.command input[type=password],.command input[type=email]{display:block;font-size:1em;max-width:340px;width:95%;min-width:210px;margin-bottom:15px;
	padding:10px 5px;border:3px solid #4A4771;border-radius:5px;vertical-align:-1px}
#subContents .command input[type=text]:focus,.command input[type=password]:focus,.command input[type=email]:focus{border:3px solid #C00;background:#FFF}

#subContents .boxOld{display:block;font-size:1em;max-width:340px;width:95%;min-width:210px;height:20px;margin-bottom:15px;
	 background:#e4e4e4;padding:10px 5px;border:3px solid #CCC;border-radius:5px;vertical-align:-1px}

.gameLink_BN{width:100%; border:1px solid #CCC}
.gameLink_BN img{cursor:pointer;width:100%}
.gameLink_BN div.submenu1{display:none;position:relative;height:50px}

.verificar{display: block;font-size: 1em;max-width: 340px;width: 290px;height: 45px;min-width: 210px;margin-top: 15px;padding: 10px 5px;border: 3px solid #4A4771;border-radius: 5px;vertical-align: -1px;}


/* member_Mod */
.ajax__calendar_container{position:relative;z-index:100;background:#FFF;border:2px solid #7C3875}

/* CreateGameID */
.gameLogo li{display:inline-block;zoom:1;*display:inline;width:13%;min-width:120px;margin-right:2%}
.gameLogo li img{width:100%}

/* CustomerCenter */
.grayBox{padding:20px;background:#e4e4e4; margin:20px 0}
.grayBox li{display:inline-block;zoom:1;*display:inline;padding:10px 30px 10px 0;font-weight:bold;color:#7C3875}
.grayBox li>span{font-weight:normal;color:#333}
.grayBox a{color:#7C3875;text-decoration:underline;font-weight:bold}
.grayBox .q>span, #subContents .trigger{word-wrap:break-word;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-break:break-all}

#subContents .hiddenArea{display:;clear:both}
#subContents .faq{margin-top:40px}
#subContents .faq table{width:100%}
#subContents .faq li{padding:10px;color:#333;font-weight:bold;list-style:none;margin:0;border-bottom:1px solid #CCC;background:#FFF}
#subContents .faq li a{text-decoration:none;color:#333;font-weight:bold}
#subContents .faq li p{font-weight:normal;word-wrap:break-word;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-break:break-all}
#subContents .faq li span{font-size:9px;color:#999;float:right}
#subContents .faq li em{color:#900;font-style:normal;font-weight:bold}
#subContents .faq li strong{color:#69C} 
#myQuestionDiv tr,#myQuestionDiv td{border:0}/*Qna ???????*/

/* CafeList */
#cafe_tabmenu {text-align:center;margin-bottom:20px}
#cafe_tabmenu li{vertical-align:top;display:inline-block;zoom:1;*display:inline;width:99%;text-align:center;padding:8px 0;margin:0;
	background:#eee;border:1px solid #4A4771}
#cafe_tabmenu li:hover, #cafe_tabmenu li.on{background:#4A4771}
#cafe_tabmenu li a{color:#666;line-height:1.6em;display:block;height:100%;}
#cafe_tabmenu li:hover>a, #cafe_tabmenu li.on>a{color:#FFF}

#cafe_tabmenu:after{content:"";display:block;clear:both} 

#cafelist_table_perulima table{min-width:280px;width:100%;max-width:1070px;table-layout:fixed}
#cafelist_table_perulima table th{line-height:1.3em;background:#e4e4e4;padding:10px 0;border-bottom:1px solid #CCC}
#cafelist_table_perulima .th1{font-weight:bold;color:#666;width:20%}
#cafelist_table_perulima .th2{font-weight:bold;color:#666;width:15%}
#cafelist_table_perulima .th3{font-weight:bold;color:#666;width:65%}

#cafelist_table_perulima table td{padding:10px 0 10px 10px;line-height:1em;border-bottom:1px solid #CCC;background:#FFF;word-wrap:break-word;word-break:break-all}
#cafelist_table_perulima .td1{font-weight:bold;color:#666;width:20%}
#cafelist_table_perulima .td2{font-weight:bold;color:#4A4771;width:15%}
#cafelist_table_perulima .td3{color:#666;font-weight:normal;width:65%}

#cafelist_table_perulima img{vertical-align:-6px}

/************************************************************************************************************************************************/

/* Btn */
#subContents .btnArea{clear:both;text-align:center;margin:40px 0 0}
#subContents .btnArea>label{max-width:330px}

#subContents .ok_btn, #subContents .cancel_btn{display:inline-block;zoom:1;*display:inline;text-align:center;cursor:pointer;margin-bottom:10px;
 color:#FFF!important;text-decoration:none;font-weight:bold;max-width:340px;width:95%;min-width:200px;height:56px;padding:15px 2px;border:3px solid #4A4771;border-radius:5px;
background:#7C3875;
background-image:url("/static/images/overlay.png"), -moz-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-image:url("/static/images/overlay.png"), -webkit-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-image:url("/static/images/overlay.png"), -ms-linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-image:url("/static/images/overlay.png"), linear-gradient(45deg, #4A4771 0%, #7C3875 100%);
background-size:100px 100px, cover}

#subContents .cancel_btn{border:3px solid #666;width:92%;height:18px;
background:#999;
background-image:url("/static/images/overlay.png"), -moz-linear-gradient(45deg, #999 0%, #999 100%);
background-image:url("/static/images/overlay.png"), -webkit-linear-gradient(45deg, #999 0%, #999 100%);
background-image:url("/static/images/overlay.png"), -ms-linear-gradient(45deg, #999 0%, #999 100%);
background-image:url("/static/images/overlay.png"), linear-gradient(45deg, #999 0%, #999 100%);
background-size:100px 100px, cover}

.emailBtn,.email2Btn{display:inline-block;zoom:1;*display:inline;text-align:center;cursor:pointer;text-decoration:none !important;
 color:#FFF!important;text-decoration:none;font-weight:bold;width:150px;height:16px;padding:12px 2px;border:3px solid #4A4771;border-radius:5px;
background:#7C3875;font-size:16px;margin-top:0!important;margin-bottom:5px}
.email2Btn{width:160px}

.facebookConectBtn{display:inline-block;zoom:1;*display:inline;text-align:center;cursor:pointer;margin-bottom:10px;
 color:#FFF!important;text-decoration:none;font-weight:bold;max-width:340px;width:95%;min-width:200px;height:20px;padding:15px 2px;border:3px solid #39f;border-radius:5px;
background:#33C;
background-image:url("/static/images/overlay.png"), -moz-linear-gradient(45deg, #39f 0%, #33c 100%);
background-image:url("/static/images/overlay.png"), -webkit-linear-gradient(45deg, #39f 0%, #33c 100%);
background-image:url("/static/images/overlay.png"), -ms-linear-gradient(45deg, #39f 0%, #33c 100%);
background-image:url("/static/images/overlay.png"), linear-gradient(45deg, #39f 0%, #33c 100%);
background-size:100px 100px, cover}

/* Select */
.select{float:left;display:inline-block;zoom:1;*display:inline;min-width:260px;height:40px;margin-right:20px;padding:auto 0; vertical-align:text-bottom}
.select *{margin:0;padding:0}
.select table{width:300px}
.select label{padding:0 0 0 5px}

/* Select Box */
.selectbox{position:relative;min-width:250px;width:30%;/* ???? */border:1px solid #999;/* ??? ?? */display:inline-block;zoom:1;*display:inline}
.selectbox:before{content:"";position:absolute;top:50%;right:15px;width:0;height:0;margin-top:-1px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #333}
.selectbox label{position:absolute;top:1px;/* ???? */ 
  left:5px;/* ???? */
  padding:.8em .5em;/* select? ?? ?? ?? */
  color:#999;  
  z-index:-1;/* IE8?? label? ??? ?? ???? ?? ? ?? */}

.selectbox select{width:100%;font-size:16px;font-size:1.6rem;
  height:auto;/* ?? ??? */
  line-height:normal;  /* line-height ??? */
  font-family:inherit;  /* ?? ?? */
  padding:.7em .5em;  /* ??? ?? ?? */
  border:0;opacity:1;  /* ??? */
  filter:alpha(opacity=100);  /* IE8 ??? */
  -webkit-appearance:none; /* ???? ?? ??? */
  -moz-appearance:none;appearance:none}

/* ReReg Popup */
.ly_help{position:relative;margin-top:6px;border:1px solid #888;background:#f3e8dd;text-align:left; padding:10px 15px;margin:-40px -10px 40px -25px}
.ly_help .clse{position:absolute;top:3px;right:4px}
.ly_help strong{display:block;margin-bottom:-5px;padding:9px 0 0 9px;font-size:11px;color:#2c2c2c;letter-spacing:-1px}
.ly_help p{ display:inline-block; vertical-align:top;padding:8px 0 6px 9px;font-size:12px;color:#828282;line-height:16px;letter-spacing:-1px}
.ly_help p em{color:#268e00}
.ly_help span.img{display:inline-block;width:90px;height:90px;background:url(img/pop_notice.jpg) no-repeat}
.ly_help .edge_cen{position:absolute;top:0;left:50%;width:9px;height:6px;margin:-6px 0 0 -5px;background:url(img/bg_layer_edge.gif) no-repeat 0 0;font-size:0}
.ly_help .edge_rgt{position:absolute;top:0;right:0;width:9px;height:6px;margin-top:-6px;background:url(img/bg_layer_edge.gif) no-repeat 0 0;font-size:0}
/* //ReReg Popup */

/* ?????? */
#recaptcha_table{width:300px}
#recaptcha_table td{display:block}
#recaptcha_image img{width:270px}
.recaptcha_input_area input{width:270px}

/* Table */
.banTable{width:100%}
.banTable th{text-align:center;border-bottom:2px solid #630;border-top:2px solid #630}
.banTable td{text-align:center;border-bottom:1px solid #630}

#cafe_tabmenu li{width:48%}


.birthday{width: 130px;height: 45px;border: 3px solid #4A4771;border-radius:5px;outline:none}

/* Tablet & Deasktop */
@media all and (min-width:768px){
#wrap{background:#FFF}
#wrap .contents{width:100%;margin:0 auto}

#subContents .rightArea h3 span{font-size:12px;color:#C33;display:inline-block}

#subContents .command{width:48%}

#recaptcha_table{width:450px}/*??????*/
#recaptcha_table td{display:inline-block}/*??????*/

#subContents .txtfield{width:98%;height:300px}
#cafe_tabmenu li{width:16%}

.nickMover{margin-top: -53px;margin-left: 504px;}
.paisMover{margin-top: -53px;margin-left: 504px;}
.jala{margin-left:104px;}

}

/* Tablet */
@media all and (min-width:768px) and (max-width:1023px){
#wrap{background:#FFF}
#wrap .contents{width:100%;margin:0 auto}

.nickMover{margin-top: -53px!important;margin-left: 504px!important;}
.paisMover{margin-top: -53px!important;margin-left: 504px!important;}
.empuja{margin-bottom: 80px!important}
.empujanick{margin-bottom: 40px!important}

#subContents .leftArea{text-align:center}
#subContents .command{width:30%}
#subContents .message{width:18%;margin-left:1%}

#cafe_tabmenu li{width:16%}
/************************************************************************************************************************************************/
#keyboard{z-index:-200}/*login Keyboard */
#recaptcha_table{width:450px}/*??????*/
#recaptcha_table td{display:inline-block}/*??????*/
}



@media screen and (max-width:420px){
    #subContents .rightArea {
    margin: 0 64px 40px;
}
}
/* Smartphone */

@media screen and (max-width:768px){
    #subContents .rightArea {
    margin: 0px 22px 40px;
}

.nickMover{margin-top: 70px!important;position: absolute;}
.paisMover{margin-top: 70px!important;position: absolute;}
.empuja{margin-bottom: 80px!important}
.empujanick{margin-bottom: 40px!important}
.dia{width: 50px;}
}




/* Deasktop */
@media all and (min-width:1024px){
#wrap{background:#FFF url(/static/images/contents_BG.gif) repeat-x center top;background-attachment:fixed;padding-bottom:40px}
#wrap .contents{max-width:1100px;margin:0 auto 0;padding:0;border-radius:20px}
.nickMover{margin-top: -53px!important;margin-left: 504px!important;}
.paisMover{margin-top: -53px!important;margin-left: 504px!important;}
.jala{margin-left:104px;}



/************************************************************************************************************************************************/
.contents_rk{background:url(/static/images/memberTop_op7_.png) no-repeat right top}
.contents_gb{background:url(/static/images/memberTop_op7_.png) no-repeat right top}
.contents_wt{background:url(/static/images/memberTop_op7_.png) no-repeat right top}
.contents_lb{background:url(/static/images/memberTop_op7_.png) no-repeat right top}
.contents_op7{background:url(/static/images/memberTop_op7_.png) no-repeat right 20px}
.contents_op{background:url(/static/images/memberTop_op7_.png) no-repeat right 20px}


#subContents .leftArea{background:none;text-align:center}
#subContents .leftArea h2{padding:0px 0 0 0;color:#7C3875}
#subContents .leftArea p{padding:10px 0 0 0;color:#7C3875}

#subContents .rightArea{padding:0 246px 0}

/*
.loginArea input[type=text],.loginArea input[type=password]{width:52.5%}*/

#subContents .command{width:29%}
#subContents .message{width:18%;margin-left:1%}

#cafe_tabmenu li{width:16%}

}